html{background-color: palevioletred;
color: blueviolet;}

#P1{font-family:'DynaPuff';
margin: auto;
font-size: 30px;
align-items: center;}

#img1{display: flex;
margin: auto;}

div img{align-items: center;}
